.project-section {
  width: 75%;
  height: 100%;
  margin: 15rem auto;

  border-radius: 70px;
  text-align: center;
  margin: 3rem auto;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 3.5rem;
  margin-top: 5em;
  list-style: none;
}
