@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;700&family=Rubik:wght@400;500;700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-1: hsl(336, 58%, 60%);
  --clr-primary-2: hsl(336, 66%, 71%);

  --clr-primary-3: hsl(64, 63%, 64%);
  --clr-primary-4: hsl(163, 90%, 27%);
}

/*
=============== 
Global
===============
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
body {
  background: #000;
}

a {
  text-decoration: none;
  color: var(--clr-primary-4);
  /* color: #000; */
}

.btn {
  background: var(--clr-primary-2);
  border: 1px solid;
  border-radius: 6px;
  box-shadow: rgba(245, 240, 240, 0.1) 1px 2px 4px;
  color: #fff;
  cursor: pointer;
  padding: 15px 38px;
  font-size: 1.2rem;
  font-weight: 600;
  min-height: 2.5rem;
  text-align: center;
  text-transform: capitalize;
}

.btn:hover,
.btn:active {
  background-color: transparent;
  border: 1px solid var(--clr-primary-4);
  color: var(--clr-primary-4);
}

.btn:active {
  opacity: 0.4;
}

@media screen and (max-width: 761px) {
  .person {
    font-size: 3rem;
  }
  .title {
    font-size: 1rem;
  }
}
